/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
	background-color: #e5e5e5;
	color: #23374d;
}

h1, h2, h3, h4, h5 {
    font-family: 'Patua One', cursive;
	letter-spacing: 1px;
	color: #23374d;
}

/* Your code starts here! */

/* Navigation Content */
.navigation {
	color: white;
	width: 75%;
	margin: 0 auto;
	background-color: #1089ff;
}

.navigation li {
	display: inline-block;
	margin: 2%;
}


#circlelogo {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15%;
	margin-right: 15%;
}
/* ------------------------------------------------- */

/* Jumbotron Content */
.jumbotron {
	width: 75%;
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 12.5%;


}

.jumbotron h1 {
	font-size: 60px;
	text-align: center;
}

.jumbotron-content {
	display: inline-block;
	width: 35%;

}

.jumbotron-content .btn {
	margin-left: 38%;

}

  .header-img {
	margin-left: 10%px;

}

#title {
	margin-bottom: 20%;
}

/* ------------------------------------------------- */


/* Contents Content (lol) */
.top-content {

	margin: 0 auto;
	width: 75%;

  }

  .bottom-content {

	margin: 0 auto;
	width: 75%;
  }
  .content {
	width: 48.5%;
	display: inline-block;
	margin-bottom: 2%;

  }

  .section2 {
	width: 30%;
  	display: inline-block;
  	margin: 1%;
	margin-bottom: 2%;
  }
/* ------------------------------------------------- */

.btn {
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 15%;
}

.default {
	border-color:black;
	color: black;
}

.default:hover {
	background: #e7e7e7;
}

.center_image .middle-img {
	width: 75%;
	display: inline-block;
	margin-left: 12.5%;

}

.contact {
	width: 75%;
	margin: 0 auto;

}

.linebreak {
	border-bottom: solid 3px #000;
	width: 75%;
	margin-left: 12.5%;
	margin-bottom: 1.5%;
}

footer {
	text-align: center;
	margin-top: 2%;
}